.card {
        @include flexCenter(column);
        justify-content: space-between;
        width: 80%;
        height: 35rem;
        margin: 1rem 0;

        background-color: $black;

        .card__figure {
            height: 45%;
            width: 100%;
            overflow: hidden;

            .figure__img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                image-resolution: 72dpi;
            }
        }
        
        .card__caption {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 50%;
            width: 100%;
            padding: 3em;

            .caption__title {
                color: $white;
                @include flexCenter(row);
                text-align: center;
                font-size: 2rem;
                height: 60%;
                width: 100%;
                padding: 2rem 0;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    border-color: $orange;
                    // transform: translateY(-0.8rem);
                    box-shadow: 0 0.5rem 0.5rem -0.4rem $orange;
                    
                }
            }

            .caption__date, .caption__author {
                color: $white;
                align-self: flex-end;
                font-size: 1.2rem;
            }
            
        }
    }