.edit__btn {
    @include flexCenter(row);
    position: absolute;
    display: inline-flex;
    top: -1.5rem;
    right: 1rem;
    border-radius: 25px;
    width: 5.5rem;
    height: 3rem;
    // padding: 1rem 2.5rem;
    border: 1px solid $orange;
    background-color: $white;
    color: $black;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: $w-thin;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;
    transition: bottom 0.5s;
    &:hover {
        border-color: $orange;
        box-shadow: 0 0.5rem 1rem -0.4rem $orange;
    }
}