.figure {
    height: 25rem;
    width: 100vw;
    // margin-left: calc(50% - 50vw);
    overflow: hidden;

    .figure__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        image-resolution: 72dpi;
    }

    @include screenDesktop {
        height: 35rem;
    }
}

.post__content {
    text-align: justify;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 2rem 1rem;
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: $w_light;
    line-height: 2.2rem;
    p {
        padding: 1rem 0;
    }
}

.post__info {
    @include flexCenter(row);
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    font-weight: $w_regular;
    padding: 2rem 1.5rem;
    color: $orange;
    background-color: white;
}

.post__social {
    @include flexCenter(row);
    font-size: 3rem;
    // padding: 1rem 1rem;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    a {
        color: $gray;
        padding: 2rem 2rem;
        transition: all 0.3s;
        &:hover {
            color: $orange;
            background-color: $white;
            border-radius: 50%
        }
    }
}

.post__comments {
    text-align: left;
    @include flexCenter(column);
    position: relative;
    margin-top: 2rem;
    padding-bottom: 10rem;
    width: 100%;
    .comment__card {
        background-color: white;
        margin: 0.8rem 0;
        padding: 1rem 1rem;
        width: 100%;
        transition: all 0.3s;
        &:hover {
            background-color: $white;
        }
        .comment__content {
            font-size: 1.4rem;
            font-weight: $w_thin;
            padding: 1rem 0;
        }
        .comment__author, .comment__date {
            font-size: 1.2rem;
            font-weight: $w_regular;
            padding: 0.5rem 0;
        }
        .comment__author {
            color: $orange;
            font-weight: $w_regular;
            padding: 0.5rem 0;
        }
    }

    .form__container {
        position: absolute;
        bottom: 0;
        width: 100%;
        .form__textarea {
            width: 100%;
            height: 8rem;
            // border: 0.1rem solid $gray;
        }
    }
}