.scroll__btn {
    @include flexCenter(row);
    position: fixed;

    bottom: -4rem;
    right: 1rem;
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    // padding: 1rem 2.5rem;
    border: 1px solid $black;
    background-color: $white;
    color: $black;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: $w-thin;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        border-color: $orange;
        box-shadow: 0 0.5rem 1rem -0.4rem $orange;
    }
}

.scroll--show {
    transition: bottom 0.5s;
    bottom: 2rem;

}