* {
    box-sizing: border-box;
    
}

html, body {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: $white;
    color: $black;
    @include screenSmall {

    }
    @include screenMedium {
        font-size: 11px;
        
    }
    @include screenLarge {
        font-size: 13px;
        
    } 
    @include screenDesktop {
        // font-size: 14px;
    }
}

#app {
    @include flexCenter(column);
    overflow: hidden;
    // width: 100vw;
}
