.app__header {
    @include flexCenter(row);
    position: fixed;
    background-color: $white;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid $gray;
    z-index: 2;

    .header__nav {
        @include flexCenter(row);
        justify-content: space-between;
        height: 100%;
        max-width: 1200px;
        width: 80%;
    }
}